<p>search-flights works!</p>


<form [formGroup]="serachFlightForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div clas="col-sm-3">
                            <b>Source</b>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" 
                            formControlName="source"
                            placeholder="enter source">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div clas="col-sm-3">
                            <b>Destination</b>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" 
                            formControlName="destination"
                            placeholder="enter destination">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button 
                           type="button"
                           class="btn btn-lg btn-primary btn-block text-center"
                           (click)="SearchFlightClick(serachFlightForm.value)">Search</button>
                        </div>
                    </div>
                </div>

                <!-- <h2 *ngFor="let flight of flightList">
                    <!-- {{flight.flightName}} -->
                    <p>
                        <!-- {{flight.flightName}}
                    </p>
                </h2> -->

<div class="row">
    <div class="col-sm-12">
        <table style="width: 100%;" class="table table-stripped ">
           <thead style="background-color: lightskyblue;">
               <tr>
                   <th>FlightNo</th>
                   <th>FlightName</th>
                   <th>Source</th>
                   <th>Destination</th>
                   <th>FlightDate</th>
                   <th>FlightTime</th>
                  
                  
                   <th>FEndDate</th>
                   <th>FEndtime</th>
                   <th>oneWay</th>
                   <th>TwoWay</th>
                   <th>OnewayPrice</th>
                   <th>RoundtripPrice</th>
                   <th>Discount</th>
                   <th>Book</th>
                  
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let list of flightList">
                   <td>{{list.flightNo}}</td>
                   <td>{{list.flightName}}</td>
                   
                   <td>{{list.source}}</td>
                   <td>{{list.destination}}</td>
                   <td>{{list.fDate}}</td>
                   <td>{{list.fTime}}</td>
                   
                  
                   <td>{{list.endDate}}</td>
                   <td>{{list.endTime}}</td>
                   <td>{{list.oneway}}</td>
                   <td>{{list.roundTrip}}</td>
                   <td>{{list.onewayPrice}}</td>
                   <td>{{list.roundtripPrice}}</td>
                   <td>{{list.dicountPrice}}</td>
                   <td>
                       <button 
                       type="button"
                       class="btn btn-xs btn-primary"
                       data-bs-toggle="modal" data-bs-target="#exampleModal"
                       (click)="bookInfo(list.flightNo)"
                       >
                        Book
                       </button>
                   </td>
                   
               </tr>
           </tbody>
        </table>
    </div>
</div>
             
        </div>
    </div>