<div class="row">
    <div class="col-sm-12">
        <div class="row" style="background-color: lightskyblue;" >
            <div class="col-sm-2" >
                <a routerLink="/Home" >
             <img src="assets/Images/Flight.png" alt="FlightLogo"  style="width: 140px; padding: 10px;"/>
            </a>
          </div>
          <div class="col-sm-10">
             <div class="row" style="margin-top: 85px;">
                 <div class="col-sm-2"><b><a routerLink="/Admin" class="LinkStyle">Admin</a></b></div>
                 <div class="col-sm-2"><b><a routerLink="/Home" class="LinkStyle">Home</a></b></div>
                 <div class="col-sm-2"><b><a routerLink="/Login" class="LinkStyle">Login</a></b></div>
                 <div class="col-sm-2"><b><a routerLink="/Register" class="LinkStyle">Register</a></b></div>
                 <div class="col-sm-2"><b><a routerLink="/Booking" class="LinkStyle">Booking</a></b></div>
                 <div class="col-sm-2"><b><a routerLink="/FlightSearch" class="LinkStyle">FlightSearch</a></b></div>
                                             
                 
             </div>
             <div class="row" style="margin-top: 10px;">
                <div class="col-sm-2"><button (click)="onAdminClick()"  class="btn btn-primary">Admin</button></div>
                <div class="col-sm-2"><button (click)="onHomeClick()" class="btn btn-primary">Home</button></div>
                <div class="col-sm-2"><button (click)="onLogInClick()" class="btn btn-success">Login</button></div>
                <div class="col-sm-2"><button (click)="onRegisterClick()" class="btn btn-info">Registation</button></div>
                <div class="col-sm-2"><button (click)="onBookingClick()" class="btn btn-danger">Booking</button></div>
                <div class="col-sm-2"><button (click)="onFlightSearch()" class="btn btn-warning">FlightSearch</button></div>
                
             </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
            </div>
            
        </div>
         
        <div class="row">
            <div class="col-sm-12" style="background-color: lightskyblue;">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"><a href="@copyright.Flight">@copyrigh.Flight</a></div>
                    <div class="col-sm-2" ><img src="assets/Images/fb icon.png" style="width: 24px;"/></div>
                    <div class="col-sm-2"><img src="assets/Images/g.png" style="width: 24px;"/></div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

