<div class="row">
    <div class="col-sm-12">
        <h1>Admin</h1>
    </div>
</div>

    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-success"(click)="onAddFlightClick()">AddFlight</button></div>
            <div class="col-sm-4">
                <button class="btn btn-danger"(click)="onBlockFlightClick()">BlockFlight</button> 
            </div>
            <div class="col-sm-4">
                <button (click)="onAllFlightClick()"class="btn btn-info">AllFlights</button>
            </div>
        
    </div>
<div class="row">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>

